  <!-- <div class="container mx-auto p-4">
    <h1 class="text-3xl font-bold mb-6 text-center">Current Stock Holdings</h1>
    <div class="mb-4 text-center">
      <button (click)="reloadStocks()" class="bg-blue-500 text-white px-4 py-2 rounded-full shadow-md hover:bg-blue-600">Reload</button>
    </div>
    <div class="overflow-x-auto flex justify-center">
      <table class="w-3/4 table-auto bg-white bg-gray-700 rounded-lg shadow-md">
        <thead>
          <tr>
            <th class="px-4 py-2">Stock Name</th>
            <th class="px-4 py-2">Ticker</th>
            <th class="px-4 py-2">Quantity</th>
            <th class="px-4 py-2">Buy Price</th>
            <th class="px-4 py-2">Current Price</th>
            <th class="px-4 py-2">Total Value</th>
            <th class="px-4 py-2">Profit/Loss</th>
            <th class="px-4 py-2">Profit/Loss (%)</th>
            <th class="px-4 py-2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stock of stocks">
            <td class="border px-4 py-2">{{ stock.name }}</td>
            <td class="border px-4 py-2">{{ stock.ticker }}</td>
            <td class="border px-4 py-2">{{ stock.quantity }}</td>
            <td class="border px-4 py-2">{{ stock.buyPrice | currency }}</td>
            <td class="border px-4 py-2">{{ stock.currentPrice | currency }}</td>
            <td class="border px-4 py-2">{{ stock.totalValue | currency }}</td>
            <td class="border px-4 py-2">{{ formatProfitLoss(stock.profitLoss ?? 0) }}</td>
            <td class="border px-4 py-2">{{ formatProfitLossPercent(stock.profitLossPercent ?? 0) }}</td>
            <td class="border px-4 py-2">
              <button class="bg-yellow-500 text-white px-2 py-1 rounded" (click)="showEditStockForm(stock)">Edit</button>
              <button class="bg-red-500 text-white px-2 py-1 rounded" (click)="deleteStock(stock)">Delete</button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="isEditStockFormVisible" class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center ">
    <div class="  p-6 rounded-lg shadow-lg max-w-lg w-full">
      <button (click)="hideEditStockForm()" class="text-gray-500 hover:text-gray-700 dark:hover:text-gray-300 float-right mr-3 mt-2">X</button>
      <app-edit-stock-form></app-edit-stock-form>
    </div>
  </div> -->


  <div class="container mx-auto p-4 ">
    <h1 class="text-3xl font-bold mb-6 text-center">Current Stock Holdings</h1>
    <div class="mb-4 text-center">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Search stock..." class="p-2 border rounded mb-4">
      <button (click)="reloadStocks()" class="bg-blue-500 text-white px-4 py-2 rounded-full shadow-md hover:bg-blue-600">Reload</button>
      <button (click)="deleteSelectedStocks()" class="bg-red-500 text-white px-4 py-2 rounded-full shadow-md hover:bg-red-600 ml-2">Delete Selected</button>
    </div>
    <div class="overflow-x-auto flex justify-center">
      <table class="w-3/4 table-auto bg-white bg-gray-600 rounded-lg shadow-md ">
        <thead>
          <tr>
            <th class="px-4 py-2"><input type="checkbox" (change)="toggleSelectAll($event)"></th>
            <th class="px-4 py-2">Stock Name</th>
            <th class="px-4 py-2">Ticker</th>
            <th class="px-4 py-2">Quantity</th>
            <th class="px-4 py-2">Buy Price</th>
            <th class="px-4 py-2">Current Price</th>
            <th class="px-4 py-2">Total Value</th>
            <th class="px-4 py-2">Profit/Loss</th>
            <th class="px-4 py-2">Profit/Loss (%)</th>
            <th class="px-4 py-2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stock of filteredStocks()">
            <td class="border px-4 py-2"><input type="checkbox" [(ngModel)]="stock.selected"></td>
            <!-- <td class="border px-4 py-2">{{ stock.name }}</td>
            <td class="border px-4 py-2">{{ stock.ticker }}</td> -->
            <td class="border px-4 py-2 cursor-pointer" (click)="showFinancials(stock)">{{ stock.name }}</td>
            <td class="border px-4 py-2 cursor-pointer" (click)="showFinancials(stock)">{{ stock.ticker }}</td>
            <td class="border px-4 py-2">{{ stock.quantity }}</td>
            <td class="border px-4 py-2">{{ stock.buyPrice | currency }}</td>
            <td class="border px-4 py-2">{{ stock.currentPrice | currency }}</td>
            <td class="border px-4 py-2">{{ stock.totalValue | currency }}</td>
            <td class="border px-4 py-2">{{ formatProfitLoss(stock.profitLoss ?? 0) }}</td>
            <td class="border px-4 py-2">{{ formatProfitLossPercent(stock.profitLossPercent ?? 0) }}</td>
            <td class="border px-4 py-2">
              <button class="bg-yellow-500 text-white px-2 py-1 rounded" (click)="showEditStockForm(stock)">Edit</button>
              <button class="bg-red-500 text-white px-2 py-1 rounded" (click)="deleteStock(stock)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div *ngIf="isEditStockFormVisible" class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center ">
    <div class="  p-6 rounded-lg shadow-lg max-w-lg w-full">
      <button (click)="hideEditStockForm()" class="text-gray-500 hover:text-gray-700 dark:hover:text-gray-300 float-right mr-3 mt-2">X</button>
      <app-edit-stock-form></app-edit-stock-form>
    </div>
  </div> 

  <div *ngIf="isFinancialsVisible" class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center">
    <div class="p-6 rounded-lg shadow-lg max-w-lg w-full bg-white">
      <button (click)="hideFinancials()" class="text-gray-500 hover:text-gray-700 dark:hover:text-gray-300 float-right mr-3 mt-2">X</button>
      <h2 class="text-lg font-bold mb-2">Basic Financials</h2>
      <p><strong>10 Day Average Trading Volume:</strong> {{ financials?.metric?.['10DayAverageTradingVolume'] }}</p>
      <p><strong>52 Week High:</strong> {{ financials?.metric?.['52WeekHigh'] }}</p>
      <p><strong>52 Week High Date:</strong> {{ financials?.metric?.['52WeekHighDate'] }}</p>
      <p><strong>52 Week Low:</strong> {{ financials?.metric?.['52WeekLow'] }}</p>
      <p><strong>52 Week Low Date:</strong> {{ financials?.metric?.['52WeekLowDate'] }}</p>
      <p><strong>Revenue Growth 5Y:</strong> {{ financials?.metric?.['revenueGrowth5Y'] }}</p>
      <p><strong>Dividend Growth Rate 5Y:</strong> {{ financials?.metric?.['dividendGrowthRate5Y'] }}</p>
    </div>
  </div>

  <!-- <div *ngIf="isFinancialsVisible" class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center transition-opacity duration-300 ease-in-out">
    <div class="p-6 rounded-t-lg shadow-lg max-w-lg w-full bg-white transform transition-transform duration-300 ease-in-out translate-y-full">
      <button (click)="hideFinancials()" class="text-gray-500 hover:text-gray-700 dark:hover:text-gray-300 float-right mr-3 mt-2">X</button>
      <h2 class="text-lg font-bold mb-2">Basic Financials</h2>
      <div class="grid grid-cols-1 gap-4">
        <div class="p-4 bg-gray-100 rounded-lg shadow-md">
          <p><strong>10 Day Average Trading Volume:</strong> {{ financials?.metric?.['10DayAverageTradingVolume'] }}</p>
        </div>
        <div class="p-4 bg-gray-100 rounded-lg shadow-md">
          <p><strong>52 Week High:</strong> {{ financials?.metric?.['52WeekHigh'] }}</p>
        </div>
        <div class="p-4 bg-gray-100 rounded-lg shadow-md">
          <p><strong>52 Week High Date:</strong> {{ financials?.metric?.['52WeekHighDate'] }}</p>
        </div>
        <div class="p-4 bg-gray-100 rounded-lg shadow-md">
          <p><strong>52 Week Low:</strong> {{ financials?.metric?.['52WeekLow'] }}</p>
        </div>
        <div class="p-4 bg-gray-100 rounded-lg shadow-md">
          <p><strong>52 Week Low Date:</strong> {{ financials?.metric?.['52WeekLowDate'] }}</p>
        </div>
        <div class="p-4 bg-gray-100 rounded-lg shadow-md">
          <p><strong>Revenue Growth 5Y:</strong> {{ financials?.metric?.['revenueGrowth5Y'] }}</p>
        </div>
        <div class="p-4 bg-gray-100 rounded-lg shadow-md">
          <p><strong>Dividend Growth Rate 5Y:</strong> {{ financials?.metric?.['dividendGrowthRate5Y'] }}</p>
        </div>
      </div>
    </div>
  </div> -->