  <div class="container mx-auto p-4 ">
    <!-- <h1 class="text-3xl font-bold mb-6 text-center text-blue-500">Current Stock Holdings</h1>
    <div class="mb-4 text-center">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Search stock..." class="p-3 border rounded-lg shadow-sm focus:ring focus:ring-blue-300 w-3/4 max-w-md">

      <button (click)="showStockForm()" class="bg-blue-500 text-white px-4 py-2 rounded-full shadow-md hover:bg-blue-600 inline-flex ml-2 items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" 
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-6 h-6 text-white-400 mr-2"><circle cx="12" 
        cy="12" r="10"/><path d="M8 12h8"/><path d="M12 8v8"/></svg>
        Add Stocks
      </button>
      <button (click)="reloadStocks()" class="bg-blue-500 text-white px-4 py-2 rounded-full shadow-md hover:bg-blue-600 inline-flex ml-2 items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" 
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-refresh-ccw">
        <path d="M21 12a9 9 0 0 0-9-9 9.75 9.75 0 0 0-6.74 2.74L3 8"/><path d="M3 3v5h5"/>
        <path d="M3 12a9 9 0 0 0 9 9 9.75 9.75 0 0 0 6.74-2.74L21 16"/><path d="M16 16h5v5"/></svg>
        
        Reload
      
      </button>

      <button (click)="deleteSelectedStocks()" class="bg-red-500 text-white px-4 py-2 rounded-full shadow-md hover:bg-red-600 ml-2 inline-flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" 
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
        class="lucide lucide-trash-2"><path d="M3 6h18"/><path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"/>
        <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"/><line x1="10" x2="10" y1="11" y2="17"/>
        <line x1="14" x2="14" y1="11" y2="17"/></svg>
        
        Delete Selected
      
      
      </button> -->

      <h1 class="text-3xl font-bold mb-6 text-center text-blue-500">Current Stock Holdings</h1>
      <div class="mb-4 text-center">
        <input type="text" [(ngModel)]="searchTerm" placeholder="Search stock..." class="p-3 border rounded-lg shadow-sm focus:ring focus:ring-blue-300 w-full md:w-3/4 max-w-md">
    
        <button (click)="showStockForm()" class="bg-blue-500 text-white px-4 py-2 rounded-full shadow-md hover:bg-blue-600 inline-flex ml-2 items-center mt-2 md:mt-0">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" 
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-6 h-6 text-white-400 mr-2"><circle cx="12" 
          cy="12" r="10"/><path d="M8 12h8"/><path d="M12 8v8"/></svg>
          Add Stocks
        </button>
        <button (click)="reloadStocks()" class="bg-blue-500 text-white px-4 py-2 rounded-full shadow-md hover:bg-blue-600 inline-flex ml-2 items-center mt-2 md:mt-0">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" 
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-refresh-ccw">
          <path d="M21 12a9 9 0 0 0-9-9 9.75 9.75 0 0 0-6.74 2.74L3 8"/><path d="M3 3v5h5"/>
          <path d="M3 12a9 9 0 0 0 9 9 9.75 9.75 0 0 0 6.74-2.74L21 16"/><path d="M16 16h5v5"/></svg>
          Reload
        </button>
        <button (click)="deleteSelectedStocks()" class="bg-red-500 text-white px-4 py-2 rounded-full shadow-md hover:bg-red-600 ml-2 inline-flex items-center mt-2 md:mt-0">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" 
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
          class="lucide lucide-trash-2"><path d="M3 6h18"/><path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"/>
          <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"/><line x1="10" x2="10" y1="11" y2="17"/>
          <line x1="14" x2="14" y1="11" y2="17"/></svg>
          Delete Selected
        </button>
      

    </div>
    <div class="overflow-x-auto">
      <table class="min-w-full md:w-3/4 table-auto bg-gray-800 text-gray-200 rounded-lg shadow-lg ">
        <thead>
          <tr>
            <th class="px-4 py-2 text-left"><input type="checkbox"  (change)="toggleSelectAll($event)"></th>
            <th class="px-4 py-2">Stock Name</th>
            <th class="px-4 py-2">Ticker</th>
            <th class="px-4 py-2">Quantity</th>
            <th class="px-4 py-2">Buy Price</th>
            <th class="px-4 py-2">Current Price</th>
            <th class="px-4 py-2">Total Value</th>
            <th class="px-4 py-2">Profit/Loss</th>
            <th class="px-4 py-2">Profit/Loss (%)</th>
            <th class="px-4 py-2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stock of filteredStocks()">
            <td class=" px-4 py-2"><input type="checkbox" [(ngModel)]="stock.selected"></td>
            <td class=" px-4 py-2 cursor-pointer">
              <span (click)="showFinancials(stock)">{{ stock.name }}</span>
              <button class="expand-button ml-2" (click)="showFinancials(stock)">[Expand]</button>
            </td>
            <td class=" px-4 py-2 cursor-pointer" (click)="showFinancials(stock)">{{ stock.ticker }}</td>
            <td class=" px-4 py-2 text-center">{{ stock.quantity }}</td>
            <td class=" px-4 py-2 text-center">{{ stock.buyPrice | currency }}</td>
            <td class=" px-4 py-2 text-center">{{ stock.currentPrice | currency }}</td>
            <td class=" px-4 py-2 text-center">{{ stock.totalValue | currency }}</td>
            <td class=" px-4 py-2 text-center">{{ formatProfitLoss(stock.profitLoss ?? 0) }}</td>
            <td class=" px-4 py-2  text-center">{{ formatProfitLossPercent(stock.profitLossPercent ?? 0) }}</td>
            <td class=" px-4 py-2">
              <button class="bg-yellow-500 text-white px-2 py-1 rounded" (click)="showEditStockForm(stock)">Edit</button>
              <button class="bg-red-500 text-white px-2 py-1 rounded" (click)="deleteStock(stock)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div *ngIf="isEditStockFormVisible" class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center ">
    <div class="  p-6 rounded-lg shadow-lg max-w-lg w-full">
      <button (click)="hideEditStockForm()" class="text-gray-500 hover:text-gray-700 dark:hover:text-gray-300 float-right mr-3 mt-2">X</button>
      <app-edit-stock-form></app-edit-stock-form>
    </div>
  </div> 

  <div class="modal-overlay" [class.show]="isFinancialsVisible" (click)="hideFinancials()"></div>

<div class="modal" [class.show]="isFinancialsVisible">
  <div class="modal-content">
    <button (click)="hideFinancials()" class="close-button">Close</button>
    <h2 class="text-lg font-bold mb-2">Basic Financials</h2>
    <div class="grid grid-cols-5 gap-4">
      <div class="square-container p-4 bg-gray-100  rounded-lg shadow-md ">
        <p><strong>10 Day Average Trading Volume:</strong> {{ financials?.metric?.['10DayAverageTradingVolume'] }}</p>
      </div>
      <div class="square-container p-4 bg-gray-100  rounded-lg shadow-md">
        <p><strong>52 Week High:</strong> {{ financials?.metric?.['52WeekHigh'] }}</p>
      </div>
      <div class="square-container p-4 bg-gray-100  rounded-lg shadow-md">
        <p><strong>52 Week High Date:</strong> {{ financials?.metric?.['52WeekHighDate'] }}</p>
      </div>
      <div class="square-container p-4 bg-gray-100  rounded-lg shadow-md">
        <p><strong>52 Week Low:</strong> {{ financials?.metric?.['52WeekLow'] }}</p>
      </div>
      <div class="square-container p-4 bg-gray-100   rounded-lg shadow-md">
        <p><strong>52 Week Low Date:</strong> {{ financials?.metric?.['52WeekLowDate'] }}</p>
      </div>
      <div class="square-container p-4 bg-gray-100  rounded-lg shadow-md">
        <p><strong>Revenue Growth 5Y:</strong> {{ financials?.metric?.['revenueGrowth5Y'] }}</p>
      </div>
      <div class="square-container p-4 bg-gray-100  rounded-lg shadow-md">
        <p><strong>Dividend Growth Rate 5Y:</strong> {{ financials?.metric?.['dividendGrowthRate5Y'] }}</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isStockFormVisible" class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center ">
  <div class="  p-6 rounded-lg shadow-lg max-w-lg w-full">
    <button (click)="hideStockForm()" class="text-gray-500 hover:text-gray-700 dark:hover:text-gray-300 float-right mr-3 mt-2">X</button>
    <app-stock-form></app-stock-form>
  </div>
</div>